<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as | al expandFn |}}
    {{!-- This line shows the driver title which you don't have to change it --}}
    <div class="over-hr mb-20"><span>{{driverOptionsTitle}}</span></div>

    {{#accordion-list-item
      title="API Key Settings"
      detail="SakuraCloud API keys"
      expandAll=expandAll
      expand=(action expandFn)
      expandOnInit=true
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Access Token {{field-required}}</label>
          {{input type="text" class="form-control" value=config.accessToken placeholder="Your SakuraCloud API Access Token"}}
        </div>
        <div class="col span-6">
          <label class="acc-label">Access Token Secret {{field-required}}</label>
          {{input type="text" class="form-control" value=config.accessTokenSecret placeholder="Your SakuraCloud API Access Token Secret"}}
        </div>
      </div>
    {{/accordion-list-item}}

    {{#accordion-list-item
      title="Server Options"
      detail="Configure server spec option"
      expandAll=expandAll
      expand=(action expandFn)
      expandOnInit=true
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Zone</label>
          {{new-select classNames="form-control" content=zones optionLabelPath='value' optionValuePath='value' value=config.zone}}
        </div>

        <div class="col span-6">
          <label class="acc-label">OS Type</label>
          {{new-select classNames="form-control" content=osTypes optionLabelPath='name' optionValuePath='value' value=config.osType}}
        </div>
      </div>

      <div class="row">
        <div class="col span-4">
          <label class="acc-label">CPUs</label>
          <div class="input-group">
            {{new-select classNames="form-control" content=serverPlans optionLabelPath='core' optionValuePath='core' value=config.core}}
            <div class="input-group-addon bg-default">cores</div>
          </div>
        </div>

        <div class="col span-4">
          <label class="acc-label">Memory</label>
          <div class="input-group">
            {{new-select classNames="form-control" content=memorySizes optionLabelPath='value' optionValuePath='value' value=config.memory}}
            <div class="input-group-addon bg-default">GB</div>
          </div>
        </div>

        <div class="col span-4">
          <label class="acc-label">GPUs</label>
          {{new-select classNames="form-control" content=gpus optionLabelPath='name' optionValuePath='value' value=config.gpu}}
        </div>
      </div>

      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Disk Plan</label>
          {{new-select classNames="form-control" content=diskPlans optionLabelPath='name' optionValuePath='value' value=config.diskPlan}}
        </div>

        <div class="col span-6">
          <label class="acc-label">Disk Size</label>
          <div class="input-group">
            {{new-select classNames="form-control" content=diskSizes optionLabelPath='value' optionValuePath='value' value=config.diskSize}}
            <div class="input-group-addon bg-default">GB</div>
          </div>
        </div>
      </div>
    {{/accordion-list-item}}

    {{#accordion-list-item
      title="Security Options"
      detail="Configure server security options"
      expandAll=expandAll
      expand=(action expandFn)
      expandOnInit=false
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Password</label>
          {{input type="password" class="form-control" value=config.password placeholder="If empty, generate random value"}}
        </div>
        <div class="col span-6">
          <label class="acc-label">Packet Filter</label>
          {{input type="text" class="form-control" value=config.packetFilter placeholder="Packet Filter ID"}}
        </div>
      </div>
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Enable Password Auth via SSH</label>
          <div>
            {{input type="checkbox" checked=config.enablePasswordAuth}}
          </div>
        </div>
      </div>

    {{/accordion-list-item}}

    {{!-- This following contains the Name, Labels and Engine Options fields --}}
    <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>

    {{form-name-description
      model=model
      nameRequired=true
    }}

    {{form-user-labels
      initialLabels=labelResource.labels
      setLabels=(action 'setLabels')
      expandAll=expandAll
      expand=(action expandFn)
    }}

    {{form-engine-opts
      machine=model
      showEngineUrl=showEngineUrl
    }}
  {{/accordion-list}}

  {{!-- This component shows errors produced by validate() in the component --}}
  {{top-errors errors=errors}}

  {{!-- This component shows the Create and Cancel buttons --}}
  {{save-cancel save=(action "save") cancel=(action "cancel") editing=editing}}
</section>